---
import "../../style/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ChineseApp from "../../components/chinese/App.tsx";

const isDev = import.meta.env.DEV; // remove this once the checklist is done
---

<BaseLayout title="Aadish's Chinese practice" description="" pt={0} p={0}>
  {isDev ? <ChineseApp client:only /> : <div>:P</div>}
</BaseLayout>
