---
import "../../style/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ChineseApp from "../../components/ChineseTest.jsx";

const isDev = import.meta.env.DEV;
---

<BaseLayout title="Aadish's Chinese practice" description="">
  {isDev ? <ChineseApp client:only /> : <div>:P</div>}
</BaseLayout>
