---
import Layout from "@/layouts/Layout.astro";
import { Demo } from "@/tools/move2point";
---

<Layout title="chinese practice" tool>
    <div class="mt-10 mx-auto"><Demo client:only="react" /></div>
</Layout>
