---
import VAIRCApp from "@/tools/vairc/App.tsx";
import "@/styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={"A 9th grader and avid coder."} />
    <title>{"vairc/offline"}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <VAIRCApp client:only="react" />
  </body>
</html>
