---
import "../../style/global.css";
import "../../style/blog.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import BlogPostHeader from "../../components/BlogPostHeader.astro";
import { getSlugFromPath } from "../../utils/get-slug-from-path";

export async function getStaticPaths({ paginate, rss }) {
  const allPosts = await Astro.glob("../../content/posts/*.md");

  const paths = allPosts.map((post) => {
    const slug = getSlugFromPath(post.file);
    return {
      params: {
        slug,
      },
      props: { post },
    };
  });

  return paths;
}

const { post } = Astro.props;
---

<BaseLayout title={post.frontmatter.title}>
  <article class="prose prose-lg max-w-none p-10 pt-20 lg:prose-xl">
    <main>
      <BlogPostHeader post={post.frontmatter} />
      <post.Content />
    </main>
  </article>
</BaseLayout>
