---
import Header from "../components/Header.astro";
// import global.css
import "../style/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import LatexToImageApp from "../components/LatexToImg";
const siteTitle = "LaTeX to img tool";
---

<BaseLayout title="LaTeX to img" description="">
  <div class="pt-16">
    <LatexToImageApp client:only />
  </div>
</BaseLayout>
