---

---

<header
  class="fixed w-full border-b border-gray-200 bg-white/80 py-4 backdrop-blur-sm"
>
  <div class="container flex pl-10">
    <h1 class="font-lora text-2xl font-bold text-header">Aadish Verma</h1>
    <div class="ml-auto">
      <nav class="mt-auto flex items-center justify-center font-mono">
        <a href="/" class="pl-2 text-xl text-black">Home</a>
        <a href="/blog" class="pl-2 text-xl text-black">Blog</a>
      </nav>
    </div>
  </div>
</header>
