---

---

<header
  class="bg-stripes-header2 fixed w-full border-2 border-b border-gray-200 bg-white/80 p-4 px-6 backdrop-blur-sm"
>
  <div class="flex items-center justify-between">
    <h1 class="font-lora text-2xl font-bold text-header">Aadish Verma</h1>
    <nav class="flex">
      <a href="/" class="pl-4 font-lora text-xl text-black">Home</a>
      <a href="/blog" class="pl-4 font-lora text-xl text-black">Blog</a>
      <a href="/projects" class="pl-4 font-lora text-xl text-black">Projects</a>
      <a href="/tools/periodic" class="pl-4 font-lora text-xl text-black"
        >Periodic Table</a
      >
    </nav>
  </div>
</header>
