---
import "../../style/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getSlugFromPath } from "../../utils/get-slug-from-path";
import { parseISO, format } from "date-fns";
export async function getStaticPaths({ paginate, rss }) {
  const allPosts = await Astro.glob("../../content/projects/*.md");

  const paths = allPosts.map((post) => {
    const slug = getSlugFromPath(post.file);
    return {
      params: {
        slug,
      },
      props: { post },
    };
  });

  return paths;
}

const { post } = Astro.props;

// Blog post header functionality
const date = parseISO(post.frontmatter.date);
const formatted = format(date, "LLLL d, yyyy");
---

<BaseLayout title={post.frontmatter.title}>
  <article
    class="prose font-mono text-black prose-headings:font-lora prose-headings:font-medium prose-a:font-mono prose-a:text-[0.94rem] prose-a:decoration-header2 prose-code:font-medium"
  >
    <main>
      <div class="text-xl">
        <h2
          class="m-0 p-0 font-lora font-bold text-header"
          style={"margin-block-end: 0; margin-block-start: 1rem;"}
        >
          {post.frontmatter.title}
        </h2>
        <time datetime={date.toString()} class="font-mono text-gray-500"
          >{formatted}</time
        >
      </div>
      <post.Content />
    </main>
  </article>
</BaseLayout>
