---
import "../../style/global.css";
import ProjectPreview from "../../components/ProjectPreview.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../../content/projects/*.md");
const sortedPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.last_updated).valueOf() -
      new Date(a.frontmatter.last_updated).valueOf(),
  )
  .filter((p) => p.frontmatter.hidden !== true);
---

<BaseLayout title="My projects">
  <h2 class="font-lora text-xl font-bold text-header">My projects</h2>
  <a href="/" class="font-mono text-lg">
    {"<- back to home"}
  </a>
  <div class="p-5">
    {sortedPosts.map((p) => <ProjectPreview post={p} />)}
  </div>
</BaseLayout>
