---
import "@/styles/globals.css";
import ThemeToggleIsland from "@/components/ThemeToggleIsland.tsx";
const { title, nothing, light, hideName } = Astro.props;
const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={"An 8th grader and avid coder."} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class={light ? "light" : undefined}>
    <div
      class={`fixed pt-4 left-4 right-4 z-[1000] flex max-lg:backdrop-blur-sm ${nothing && "backdrop-blur-sm"}`}
    >
      {
        !hideName && !light && (
          <a href="/" class="text-lg mr-auto" style={{ fontFamily: "Lora" }}>
            Aadish Verma
          </a>
        )
      }
      <div class="mx-auto">{""}</div>
      {
        !light && (
          <div style="ml-auto">
            <ThemeToggleIsland client:only="react" />
          </div>
        )
      }
    </div>
    {
      nothing ? (
        <div>
          <slot />
        </div>
      ) : (
        <div class="container mx-auto py-10 lg:px-52">
          <slot />
        </div>
      )
    }
  </body>
</html>
